@charset "UTF-8";

$playerCount:			16;
$playerRowCount: 		 4;
$playerColumnCount: 	 4;
$playerColorRedIds:		 1, 5,  9, 13;
$playerColorBlueIds:	 2, 6, 10, 14;
$playerColorOrangeIds:	 3, 7, 11, 15;
$playerColorGreenIds:	 4, 8, 12, 16;

*, *:before, *:after {
	box-sizing: border-box;
}

html, body, .container, .container > *, iframe, .overlay {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #000;
	overflow: hidden;
	border: none;
}
@for $id from 1 to ($playerCount + 1) {
	[data-id="#{$id}"] { grid-area: v#{$id}; }
}

.container {
	position: relative;

	> * {
		position: relative;
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}
	input {
		margin-top: 20px;
		font-size: 18px;
		@media screen and (min-width: 1921px), print and (min-width: 1921px) {
			font-size: 45px;
		}

		&[type=text] {
			width: 75%;
		}
	}

	%playerColorRed { background-color: red; }
	%playerColorBlue { background-color: blue; }
	%playerColorOrange { background-color: orange; }
	%playerColorGreen { background-color: green; }
	@each $id in $playerColorRedIds {
		> [data-id="#{$id}"] { @extend %playerColorRed; }
	}
	@each $id in $playerColorBlueIds {
		> [data-id="#{$id}"] { @extend %playerColorBlue; }
	}
	@each $id in $playerColorOrangeIds {
		> [data-id="#{$id}"] { @extend %playerColorOrange; }
	}
	@each $id in $playerColorGreenIds {
		> [data-id="#{$id}"] { @extend %playerColorGreen; }
	}

	&.main > * { background-color: transparent; }

	> *:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		font-size: 18px;
		font-weight: bold;
		color: white;
		@media screen and (min-width: 1921px), print and (min-width: 1921px) {
			font-size: 35px;
		}
	}

	@for $id from 1 to ($playerCount + 1) {
		> [data-id="#{$id}"]:before { content: 'v#{$id}'; }
	}
	> *.no-video {
		background-color: black;
		&:before {
			content: '';
		}
	}

	&, &.normal {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 50% 50%;
		grid-template-areas: 
			"v1 v2"
			"v3 v4";
	}
	&.top {
		grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
		grid-template-rows: 33.3333333333% 66.6666666666%;
		grid-template-areas:
			"v2 v3 v4"
			"v1 v1 v1";
	}
	&.top3-bottom2 {
		grid-template-columns: 16.6666666666% 16.6666666666% 16.6666666666% 16.6666666666% 16.6666666666% 16.6666666666%;
		grid-template-rows:    33.3333333333% 66.6666666666%;
		grid-template-areas:
			"v3 v3 v4 v4 v5 v5"
			"v1 v1 v1 v2 v2 v2";
	}
	&.bottom {
		grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
		grid-template-rows: 66.6666666666% 33.3333333333%;
		grid-template-areas:
			"v1 v1 v1"
			"v2 v3 v4";
	}
	&.bottom3-top2 {
		grid-template-columns: 16.6666666666% 16.6666666666% 16.6666666666% 16.6666666666% 16.6666666666% 16.6666666666%;
		grid-template-rows: 66.6666666666% 33.3333333333%;
		grid-template-areas:
			"v1 v1 v1 v2 v2 v2"
			"v3 v3 v4 v4 v5 v5";
	}
	&.left {
		grid-template-columns: 33.3333333333% 66.6666666666%;
		grid-template-rows: 33.3333333333% 33.3333333333% 33.3333333333%;
		grid-template-areas:
			"v2 v1"
			"v3 v1"
			"v4 v1";
	}
	&.right {
		grid-template-columns: 66.6666666666% 33.3333333333%;
		grid-template-rows: 33.3333333333% 33.3333333333% 33.3333333333%;
		grid-template-areas:
			"v1 v2"
			"v1 v3"
			"v1 v4";
	}
	&.top4 {
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: 25% 75%;
		grid-template-areas:
			"v2 v3 v4 v5"
			"v1 v1 v1 v1";
	}
	&.top4-bottom-2 {
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: 25% 75%;
		grid-template-areas:
			"v3 v4 v5 v6"
			"v1 v1 v2 v2";
	}
	&.extrem {
		display: grid;
		grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: 25% 25% 25% 25%;
		grid-template-areas: 
			"v1 v2 v3 v4"
			"v5 v6 v7 v8"
			"v9 v10 v11 v12"
			"v13 v14 v15 v16"
	}

	&.full, &.over {
		display: block;
		> * { display: none; }
	}
	&.full > [data-id="1"],
	&.over > [data-id="1"],
	&.over > [data-id="2"] {
		display: flex;
	}
	&.over > [data-id="2"] {
		position: absolute;
		left: 0.5%;
		bottom: 1%;
		width: 20%;
		height: 20%;
		z-index: 10;
	}
}

/* OVERLAY START */
.overlay {
	color: #fff;
	padding: 20px;
	font-size: 18px;
	overflow: auto;
	@media screen and (min-width: 1921px), print and (min-width: 1921px) {
		padding: 30px;
		font-size: 45px;
	}

	> div + div {
		margin-top: 15px;
	}

	h1, h2, h3, h4, h5, h6 {
		flex-basis: 100%;
		margin: 0 0 5px;
	}

	.form form {
		display: flex;
		+ form {
			margin-top: 5px;
		}
		input[type="text"] {
			flex-grow: 1;
		}
		input[type="submit"] {}
	}

	.mode, .switcher {
		display: flex;
		flex-wrap: wrap;

		.container {
			position: relative;
			width: 100px;
			height: 100px;
			border: 1px solid #fff;
			text-decoration: none;
			@media screen and (min-width: 1921px), print and (min-width: 1921px) {
				width: 200px;
				height: 200px;
			}

			+ .container {
				margin-left: 10px;
				@media screen and (min-width: 1921px), print and (min-width: 1921px) {
					margin-left: 30px;
				}
			}

			&:before, a:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				z-index: 50;

				opacity: 0;
				transition: opacity 0.3s;
			}
		}
	}

	.switcher {
		.container {
			.over a[data-id="2"]:after {
				z-index: 60;
			}
		}
	}

	.mode, .switcher {
		.container {
			&:hover:before, a:hover:after {
				background-color: rgba(255,255,255,.5);
				opacity: 1;
			}

			&.is-active:before, a.is-active:after {
				background-color: rgba(0,0,0,.7);
				opacity: 1;
			}
		}
	}

	.switcher {
		.container {
			width: (75px * $playerRowCount);
			height: (32px * $playerRowCount);
			@media screen and (min-width: 1921px), print and (min-width: 1921px) {
				width: (125px * $playerColumnCount);
				height: (57px * $playerColumnCount);
			}
		}
	}

	.input {
		display: inline-block;
		label {
			display: flex;
			justify-content: space-between;
			font-weight: 700;
			+ label {
				margin-top: 5px;
			}
			input {
				margin-left: 10px;
				@media screen and (min-width: 1921px), print and (min-width: 1921px) {
					font-size: 45px;
					margin-left: 30px;
				}
			}
		}
	}
}
/* OVERLAY END */