$playerCount:			16;
$playerRowCount: 		 4;
$playerColumnCount: 	 4;
$playerColorRedIds:		 1, 5,  9, 13;
$playerColorBlueIds:	 2, 6, 10, 14;
$playerColorOrangeIds:	 3, 7, 11, 15;
$playerColorGreenIds:	 4, 8, 12, 16;